[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/splice.vim"]
	path = .vim/bundle/splice.vim
	url = git://github.com/sjl/splice.vim.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-haskellFold"]
	path = .vim/bundle/vim-haskellFold
	url = git://github.com/Twinside/vim-haskellFold.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-haskellConceal"]
	path = .vim/bundle/vim-haskellConceal
	url = git://github.com/Twinside/vim-haskellConceal.git
[submodule ".vim/bundle/skittles_berry"]
	path = .vim/bundle/skittles_berry
	url = git://github.com/shawncplus/skittles_berry.git
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = git://github.com/Lokaltog/powerline.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
